account-photo-manager {
    .ion-ios-folder-open-outline {
        font-size: 55px !important;
        margin-top: 20px !important;
    }
    .ion-ios-camera-outline {
        font-size: 70px !important;
        margin-top: 14px !important;
    }
    .tools button {
        margin-top: 15px;
        background: none;
    }
}