// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.hr-gradient-alternate {
    margin-top: 2%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
}

.footer-login-font {
    opacity: .8;
    a {
        color: #fff;
        text-decoration: none;
        /* no underline */
    }
}
.login-form {
    padding-top: 5px;
    margin-left: 4%;
    font-weight: 200;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    .item-inner {
        border-bottom: 0px !important;
    }
    ion-range {
        padding: 8px 12px 4px 0px;
    }
    ion-label[stacked] {
        letter-spacing: 1px;
        font-size: 1rem;
    }
    ion-toggle {
        margin: 0% 15% !important;
        padding: 0px !important;
    }
    input::-webkit-input-placeholder {
        color: inherit;
        font-size: 1.3rem;
    }
}
